@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    background: #34495e !important;
    color: #bdc3c7;
    font-family: 'Roboto', sans-serif;
    margin: 15px auto;
    padding: 10px 50px 50px 50px;
}

details {
    margin-top: 10px;
}
summary {
    cursor: pointer;
}

pre code {
    background: #2a3b4d;
    display: block;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
}

footer {
    background: #dde1e2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    box-shadow: 0 0 15px #2c3e50;
    color: #34495e;
}

a {
    text-decoration: underline;
    color: #7f8c8d;
}

canvas {
    border-radius: 5px;
    box-shadow: 0 0 15px #2c3e50;
    margin-top: 50px;
}

.data-list {
    display: inline-block;
    width: content;
    padding-right: 15px;
    text-align: right;
}
.data-list span {
    display: block;
}

.title {    
    display: flex;
    width: fit-content;
    background: #dde1e2;
    color: #34495e;
    border-radius: 50px;
    height: 55px;
    padding: 10px 25px;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 0 15px #2c3e50;
}
.title img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 4px;
    filter: drop-shadow(0 0 5px #34495e);
    /*
    box-shadow: 0 0 5px #34495e;
    border-radius: 100%;
    background: #34495e;
    */
}
.title h1 {
    top: -12px;
    position: relative;
    margin-left: 10px;
}

form {
    display: inline-block;
    margin-bottom: 15px;
}
form > div {
    padding: 0px 15px 0px 0px;
    margin-top: 10px;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}
form > div > div {
    background: #2a3b4d;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    text-align: right;
    transition: all .5s;
}
form label {
    width: fit-content;
    padding: 0 20px;
    display: inline-block;
}
form input[type="number"] {
    width: 50px;
}
form input[type="color"] {
    width: 58px;
}
form input[type="submit"],
form input[type="reset"] 
{
    padding: 10px 20px !important;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
}

input,
select
{
    border-radius: 50px;
    border: 0 none;
    padding: 5px;
    transition: all .5s;
    background: #dde1e2;
}
input:hover {
    background: hsl(192, 8%, 78%);
}
